PORT=3001
FRONTEND_ORIGIN=*

# UltraMsg / WhatsApp
ULTRAMSG_INSTANCE_ID=164254
ULTRAMSG_TOKEN=your_ultramsg_token
WHATSAPP_DISABLE=0

CERT_NAME_Y=0.555
CERT_NAME_DY_PX=0
CERT_NAME_START_SIZE=40
CERT_NAME_MAX_WIDTH_RATIO=0.70
