PORT=3001
FRONTEND_ORIGIN=http://localhost:5173

GMAIL_USER=seuemail@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
MAIL_FROM_NAME=PADE
MAIL_DISABLE=0

CERT_NAME_Y=0.555
CERT_NAME_DY_PX=0
CERT_NAME_START_SIZE=40
CERT_NAME_MAX_WIDTH_RATIO=0.70

